fastapi
uvicorn
python-multipart
python-docx
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
requests
psycopg2-binary
langchain
langchain-community
langchain-huggingface
langchain-chroma
tavily-python
sentence-transformers
pypdf
urllib3
email-validator
pillow